.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1d1c1c;
}

.auth-card {
  background-color: #1d1c1c;
  padding: 40px;
  border-radius: 25px;
  border: #ffffff solid 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #ffffff;
}

.auth-card p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: #ffffff;
}

.auth-card label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #ffffff;
}

.auth-card input {
  width: calc(100% - 1.5rem);
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  background-color: #272727;
  color: #fff;
  border-radius: 8px;
}

.auth-card input:focus,
.auth-card input:hover {
  outline: none;
  border-color: #ff9900;
}

.auth-card button {
  width: 100%;
  padding: 0.75rem;
  background-color: #ff9900;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.auth-card button:hover {
  background-color: #ffa824;
}

.logo {
  height: 50px;
  width: 50px;
  margin-right: 2rem;
  margin-left: 2rem;
  border-radius: 50%;
}
